html,
body {
    margin: 0 auto;
    background: #1C1C1C;
    
}

main{
    background-color:#1F2937;
    width: 550px;
    height: 550px;
    margin: 100px auto;
    

}

h1 {
    color: #FFFFFF;
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    text-align: left;
    padding-top: 100px;
    margin: 0 0 0 30px;
}

.randomPasswd {
    color: #4ADF86;
    display: block;
}

h2 {
    margin: 10px 0 20px 30px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    

}

.btnGeneratePasswd {
    padding:10px 20px;
    background: #10B981;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;  
    margin: 30px 0 0 30px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

}

.btnGeneratePasswd:hover,
.passwdBtnLeft:hover,
.passwdBtnRight:hover {
    transform: scale(1.1);
}

.divideLine {
    border: 1px solid #2F3E53;
    margin: 30px 30px 0 0;
    
    
}

.displayPasswdBtns{
    display: flex;
    margin: 30px 0 0 0;
    gap: 15px;
    
}

.lineBtns{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    
}

.passwdBtnLeft,
.passwdBtnRight{
    line-height: 24px;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 500;
    display: block;
    width: 240px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    background: #273549;
    border-radius: 6px;
    border: none;
    color: #55F991;
    
}

.copy{
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 20px;
}
